
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
{% extends "base.html" %}
{% block body_block %}
<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
    <div class="col-lg-4 bg-light">
        <h2 class="h3 mb-3 font-weight-normal">Login</h2>
    <form method="post" class="login-form">
        {% if message %}
            <div style="color:red" >{{ message }} </div>
        {% endif %}
        {% csrf_token %}
        <input name="{{ form.username.html_name }}" type="text" class="form-control" placeholder="Username" id="{{ form.username.id_for_label }}">
        <input name="{{ form.password.html_name }}" type="password" class="form-control" placeholder="Password" id="{{ form.password.id_for_label }}">
        <button type="submit" class="btn btn-lg btn-primary">Login</button>
    </form>
    </div>
    <div class="col-lg-4"></div>
    </div>
</div>

{% endblock %}
{% include "margin.html" %}
    {% include "margin.html" %}
</body>
</html>