{% extends "base.html" %}
{% block body_block %}
    <section class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Player information</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th style="width: 10px">ID</th>
                                <th>name</th>
                                <th>birthday</th>
                                <th>school</th>
                                <th>city</th>

                                <th>height</th>
                                <th>weight</th>
                                <th>jersey</th>
                                <th>position</th>
                                <th>PTS</th>
                                <th>AST</th>
                                <th>REB</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for player in players %}
                                <tr>
                                    <td>{{ player.player_id }}</td>
                                    <td>{{ player.player_name }}</td>
                                    <td>{{ player.birthday }}</td>
                                    <td>{{ player.school }}</td>
                                    <td>{{ player.country }}</td>

                                    <td>{{ player.height }}</td>
                                    <td>{{ player.weight }}</td>
                                    <td>{{ player.jersey }}</td>
                                    <td>{{ player.position }}</td>
                                    <td>{{ player.PTS }}</td>
                                    <td>{{ player.ast }}</td>
                                    <td>{{ player.reb }}</td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        <ul class="pagination pagination-sm m-0 float-right">
                            <li class="page-item"><a class="page-link pre" href="#">&laquo;</a></li>
                            <li class="page-item"><a class="page-link next" href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        $('.next').on("click", function () {
            var page = GetUrlParam("page") || 1
            var player_name = GetUrlParam("player_name")
            var next_page = parseInt(page) + 1
            window.location.href = "?player_name=" + player_name + "&page=" + next_page
        })
        $('.pre').on("click", function () {
            var page = GetUrlParam("page") || 1
            var player_name = GetUrlParam("player_name")
            var next_page = parseInt(page) - 1
            window.location.href = "?player_name=" + player_name + "&page=" + next_page
        })
    </script>
{% endblock %}
