<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container border bg-light">
	<div class="row-fluid">
		<div class="span12">
			<div class="row my-5"></div>
			<div class="hero-unit">
				<h1>
					Find NBA teams' information here!
				</h1>
				<p>
					You can have access to all the NBA teams' official website here.
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="/dataweb/manyTeams/">Learn More »</a>
				</p>
			</div>
			<div class="row my-5"></div>
		</div>
	</div>
</div>
</body>
</html>